<mat-toolbar color="primary" class="frbs-toolbar">
    <a href="/" class="logo-link">
        <img src="/assets/images/logo.svg" width="40px"/>
        <span class="title">Frebees</span>
    </a>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon connection-lost" matTooltip="Нет соединения с брокером">signal_wifi_off</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
    <mat-sidenav #sidenav mode="side" opened="true">
        <div class="example-scrolling-content">
            <frbs-sidenav></frbs-sidenav>
        </div>
    </mat-sidenav>
    <div class="example-scrolling-content">
        <div class="docs-primary-header component-page-header">
            <button mat-icon-button class="mat-icon-button" (click)="sidenav.toggle()">
                <mat-icon class="">menu</mat-icon>
            </button>
            <h1>{{title}}</h1>
        </div>
        <div class="viewer">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>
